<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <main>
        <h1><b>TODO App</b></h1>
        <form action="/create-todo" method="post">
            <hr>
            <div id="description_block" class="description_block">
                <label for="description">description</label>
                <input type="text" id="description" name="description" placeholder="What do you need to do?" required>
            </div>
            <hr>
            <div class="category_date_block">
                <div id="category_block" class="category_block">
                    <label for="category">category</label>
                    <select name="category" id="category" required>
                        <option value="none" selected>Choose a category</option>
                        <option value="personal">Personal</option>
                        <option value="Work">Work</option>
                        <option value="School">School</option>
                        <option value="Cleaning">Cleaning</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div id="date_block" class="date_block">
                    <label for="due_date">due date</label>
                    <input type="date" name="due_date" id="due_date" placeholder="dd/mm/yyyy" required>
                </div>
            </div>
            <hr>
            <div class="btns_block">
                <button id="add_btn" class="btns" type="submit"><i class="fa fa-plus"></i> add task</button>
                <button id="delete_btn" class="btns" type="delete"><i class="fa fa-trash"></i> delete tasks</button>
            </div>
        </form>
        <div class="tasks_block">
            <ul>


                <% for(let i of todo_list){ %>
                    <li>
                        <div class="tasks">
                            <div class="task_checkbox">
                                <a href="/delete-todo/?description=<%= i.description %>"><input type="checkbox"></a>
                            </div>
                            <div class="task_metadata">
                                <p><%= i.description %></p>
                                <i class="fa fa-calendar"></i>
                                <span><%= i.due_date %></span>
                            </div>
                            <div class="task_category">
                                <span><%= i.category %></span>
                            </div>
                        </div>
                    </li>
                <%}%>
            </ul>
        </div>
    </main>
    <script type="text/javascript" src="/js/script.js"></script>
</body>
</html>